body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: beige; /* Change to any color */
}

#draw-card {
  position: fixed;
  top: 20%;
}

#card-image {
  margin-top: 10px;
  position: relative;
  width: 200px;
  height: 300px;
}

#card-image img {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-3deg); /* Adjust per image */
  z-index: 1; /* Adjust per image */
  /* The next card will have rotate(-6deg) and z-index: 2, and so on ... */
}
