body {
  background-color: #ff6e40; /* Change to any color you like */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#card-image {
position: relative;
width: 200px;
height: 300px;
}

#card-image img {
position: absolute;
left: 0;
top: 0;
}
